@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        height: 8px;
        width: 4px;
        background: rgb(218, 218, 218);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(251 146 60);
        -webkit-border-radius: 1ex;
    }

    ::-webkit-scrollbar-corner {
        background: #fff;
    }
}

@layer components {
    .text-field {
        @apply block w-full px-4 py-2 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-md transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
    }
    .sidebar-menu {
        @apply w-12 h-12 p-2 rounded-lg hover:bg-gray-200/40 cursor-pointer duration-300;
    }

    .sidebar-menu.active {
        @apply bg-gray-200/40;
    }

    :root {
        --primary: #fff;
        --duration: 0.5;
    }

    .push-pop {
        --duration: 0.85;
        height: 100px;
        width: 100px;
        position: relative;
        overflow: hidden;
    }
    .push-pop > div:nth-of-type(1) {
        height: 20px;
        width: 20px;
        position: absolute;
        -webkit-animation: push-pop-slide calc(var(--duration) * 1s) infinite
            alternate ease-in-out;
        animation: push-pop-slide calc(var(--duration) * 1s) infinite alternate
            ease-in-out;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
        top: 100%;
        left: 0;
    }
    .push-pop > div:nth-of-type(1):after {
        -webkit-animation: push-pop-flip calc(var(--duration) * 1s) infinite
            alternate ease-in-out;
        animation: push-pop-flip calc(var(--duration) * 1s) infinite alternate
            ease-in-out;
        background: var(--primary);
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .push-pop > div:nth-of-type(2) {
        background: var(--primary);
        height: 30px;
        left: 50%;
        position: absolute;
        top: 100%;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        width: 20px;
    }
    .push-pop:after,
    .push-pop:before {
        -webkit-animation-name: push-pop-pushed;
        animation-name: push-pop-pushed;
        -webkit-animation-duration: calc(var(--duration) * 1s);
        animation-duration: calc(var(--duration) * 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        background: var(--primary);
        bottom: 0;
        content: '';
        height: 40px;
        position: absolute;
        width: 20px;
    }
    .push-pop:before {
        animation-direction: alternate-reverse;
        left: 0;
    }
    .push-pop:after {
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        right: 0;
    }

    @-webkit-keyframes push-pop-pushed {
        0%,
        72.5% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        100% {
            -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
        }
    }

    @keyframes push-pop-pushed {
        0%,
        72.5% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        100% {
            -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
        }
    }

    @-webkit-keyframes push-pop-flip {
        0% {
            -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
        }
        50% {
            -webkit-transform: translate(0, -80px) rotate(90deg);
            transform: translate(0, -80px) rotate(90deg);
        }
        100% {
            -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
        }
    }

    @keyframes push-pop-flip {
        0% {
            -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
        }
        50% {
            -webkit-transform: translate(0, -80px) rotate(90deg);
            transform: translate(0, -80px) rotate(90deg);
        }
        100% {
            -webkit-transform: translate(0, 0) rotate(180deg);
            transform: translate(0, 0) rotate(180deg);
        }
    }

    @-webkit-keyframes push-pop-slide {
        to {
            -webkit-transform: translate(0, -100%) translate(80px, 0);
            transform: translate(0, -100%) translate(80px, 0);
        }
    }

    @keyframes push-pop-slide {
        to {
            -webkit-transform: translate(0, -100%) translate(80px, 0);
            transform: translate(0, -100%) translate(80px, 0);
        }
    }
}
